
.first{
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.donut{
  background-color: azure;
  .container{
    max-width: 460px;
  }
}
.bar{
  background-color: azure;
  padding: 0;
}
.line{
  background-color: azure;
  padding: 0;
}
@media screen and (max-width: 600px) {
  .first{
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}