  main{
    width: 100%;
    display: grid;
    grid-template: 
      "a a" auto
      "d d" auto
      "b c" 1fr / 1fr 2fr;
  }
  section.top{
    grid-area: a;
    position: relative;
    display: grid;
    place-items: center;
    figure.figure{
      position: relative;
      height: calc(321*(100vw / 1536));
      .image-bg{
        height: calc(225*(100vw / 1536));
        max-width: 100%;
        object-fit: cover;
      }
      .image-profile{
        position: absolute;
        bottom: 0;
        left: 5%;
        height: calc(100vw / 8);
        width: calc(100vw / 8);
        border-radius: 50%;
      }
    }
    
  }
  section.paths{
    grid-area: d;
    padding-left: 34vw;
    ol{
      display: flex;
      li a{
        text-decoration: none;
      }
    }
  }
  section.side{
    grid-area: b;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: .5rem .75rem;
  }
  section.center{
    grid-area: c;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 0;
  }
  button{
    flex-basis: 50px;  
    width: 100%;
    margin: .25rem 0;
    box-shadow: 3px 2px greenyellow;
    font-size: calc(15px + (26 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
    &:hover, &:focus, &:active{
      background: lightgoldenrodyellow;
    }   
  }
  .active{
    background: lightgoldenrodyellow;
  }
  article.resume{
    padding: 1rem;
    background: gainsboro;
    margin: 0 0 1rem;
    h1{
       text-align: center;
    }
  }
  @media screen and (max-width: 600px) {
    main{
    grid-template: "a" auto
    "a" auto
    "d" auto
    "b" auto
    "c" 1fr / 1fr;
    }
  }