// @use "sass:math" as math;
// @function get-vw($target) { 
//   $vw-context: (1000*.01) * 1px;
//   @return math.div($target, $vw-context) * 1vw;
// }
// $num: math.round(math.div(100vw, get-vw(1503px)));
// @debug "divider offset: #{$num}";
article.article-top{
    li{
        margin-bottom: .5rem;
    }
    a{
      position: relative;
      border: 1px solid khaki;
      background-color: #f6f6f68c;
      padding: 0.5rem;
      text-decoration: none;
      display: flex;
      flex-wrap: wrap;
      // display: grid;
      // gap: .5rem;
      // grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
      section.fi{
        margin: auto;
        flex: 1 1 30%;
        min-width: 151px;
      }
      section.prf{
        flex: 1 1 70%;
        // width: 42vw;
        // padding-left: .5rem;
        // grid-column: auto / span 3;
      }
    }
  }
  .figure {
    position: relative;
    border: thin #c0c0c0 solid;
    padding: 4px;
    margin: auto;
    display: inline-block;
    img {
      max-width: 102%;
      object-fit: cover;
      height: calc(154*(100vw/1503));
    }
    figcaption{
        position: absolute;
        font: italic 1.1rem sans-serif;
        text-align: center;
        width: 100%;
        height: 25%;
      background: rgba(0, 9, 0, 0.4);
      color: #fff;
      bottom: 5px;
    }
  }
  .article-title{
    margin: 0 auto;
    padding: 10px;
  }
  .article-prf{
    margin: 0;
    padding: 0 10px 0 10px;
  }
  @media screen and (max-width: 800px) {
    .figure{
      img {
        height: calc(210*(100vw/1503)) !important;
      }
    }
  }

  // @media screen and (max-width: 1030px) {
  //   .prf{
  //      grid-column: auto / span 2 !important;
  //   }
  // }
  @media screen and (max-width: 600px) {
    article.article-top{
      a{
        section.fi{
          min-width: 110px;
        }
      }
    }
    // .prf{
    //   width: 62vw !important;
    //   grid-column: 1 / span 1 !important;
    // }
  }