main{
  padding: 1rem;
}
.row {
    display: flex;
  }
  #first{
   flex-wrap: wrap;
   gap: 0.5rem;
  }
  #second{ 
    background-color: azure;
  }
  .col-md-4 {
    flex:1 1 0;
    min-width: 200px;
    margin-bottom: 0.5rem;
    background-color: azure;
  }  
  table {
    width: 100%;
  }
  
  tbody tr {
    border-top: 1px solid #e7e7e7;
  }
  
  th {
    font-weight: bold;
    font-family: Helvetica;
    padding-bottom: 20px;
  }
  td,
  th {
    width: 25%;
    text-align: center;
    height: 65px;
  }
  
  td div {
    margin: 0 auto;
    display: grid;
    place-items: center;
  }
  