<ng-container [ngSwitch]="(route.data|async)?.link">
<app-profile-list *ngSwitchCase="0" [me]="userService._meState" [mtype]="1" class="users"></app-profile-list>
<app-profile-list *ngSwitchCase="1" [me]="userService._meState" [mtype]="2" class="users"></app-profile-list>
<div *ngSwitchCase="2" class="tags">
    <div class="tag" *ngFor="let tag of (userService._meState|async)?.tags">
    <label>#{{tag}}</label>
    <button class="butto ripple button-outline">Takibi Kes</button>
</div>
</div>
</ng-container>